# dependencies
node_modules/

# build outputs
dist/
build/
out/
release/
*.log

# Vite / React
.vite/

# Electron
*.exe
*.dmg

# OS / IDE
.DS_Store
.vscode/
.idea/

# env files (DO NOT COMMIT SECRETS)
.env
.env.*

# Unity project folders (large files)
My Bunny Time/Library/
My Bunny Time/Temp/
My Bunny Time/Artifacts/
My Bunny Time/Logs/
My Bunny Time/obj/
My Bunny Time/MemoryCaptures/
My Bunny Time/UserSettings/
